<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Investment Calculator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ===================== Touch Icons ===================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">

    <!-- ===================== CSS ===================== -->    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css">    

    <!-- Site specific - CSS --> 
    <link rel="stylesheet" href="css.css">  
    <link rel="stylesheet" href="css/theme_light/formselements/chosen.css">
    <link rel="stylesheet" href="css/theme_light/formselements/dropkick.css">
    <link rel="stylesheet" href="css/theme_light/jquery-ui-1.8.20.custom.css">
    <link rel="stylesheet" href="css/theme_light/icons/font-awesome.css">

    <!-- Common - CSS -->     
    <link rel="stylesheet" href="css/theme_light/common.css">  
    <link rel="stylesheet" href="css/theme_light.css" class="style_set">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body ng-app="app" ng-controller="angularInvestCtrl">
    <div id="loader_cont"><img src="img/loaders/page_loader.gif"></div> 
    <div class="options_cont">
      <form name="myForm">
        <a class="options_btn" href="#">OPTIONS</a> 
        <div class="options group">
          <div>
            <p>Background image:</p>
            <ul class="background_list">
              <li><a class="current" id='bg_1' href="#">bg_1</a></li>
              <li><a id='bg_2' href="#">bg_2</a></li>
              <li><a id='bg_3' href="#">bg_3</a></li>
              <li><a id='bg_4' href="#">bg_4</a></li>
              <li><a id='bg_5' href="#">bg_5</a></li>
              <li><a id='bg_6' href="#">bg_6</a></li>
              <li><a id='bg_7' href="#">bg_7</a></li>
              <li><a id='bg_8' href="#">bg_8</a></li>
              <li><a id='bg_9' href="#">bg_9</a></li>
              <li><a id='bg_10' href="#">bg_10</a></li>
            </ul>
          </div>
          <div>
            <p>Color styling:</p>
            <ul class="color_list">
              <li><a class="current" id='c_1' href="#" title="Rose">rose</a></li>
              <li><a id='c_2' href="#" title="Orange">orange</a></li>
              <li><a id='c_3' href="#" title="Apple Green">apple_green</a></li>
              <li><a id='c_4' href="#" title="Sky Blue">sky_blue</a></li>
              <li><a id='c_5' href="#" title="Purple">purple</a></li>
            </ul>
          </div>
          <div class="top_mn_setup">
            <p>Display top menu on:</p>
            <div>
              <input id="top_menu_click" checked="checked" type="radio" value="1" class="menu_show" name="top_menu_show"><label for="top_menu_click">Click</label>
              <input id="top_menu_hover" type="radio" value="0" class="menu_show" name="top_menu_show"><label for="top_menu_hover">Hover</label>
            </div>            
          </div>  
          <div class="clear_cache_cont">
            <a class="btn btn-mini" href="#">Clear Cache</a>
          </div>
        </div>
      </form>
    </div>   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>
          </a>
          <h1 class="brand" style="position: relative; left: -50px; text-align: center; line-height: 28px; width: 600px;"></h1>
        </div>
      </div>
    </div>
            
    <div class="container">      
      <div class="main_content row-fluid">
        <div class="span3" id="floater">
          <div class="side_nav sidebar-nav" data-spy="affix" data-offset-top="150">
          <h3 class="main_menu group">
            <span class="title">Main Menu</span>
            <a id="nav_list_btn" class="btn-collapse btn btn-inverse">
              <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>
            </a>
          </h3>
          <p>
            <div style="text-align: center; color: white;">
              <b>{{ company_name }} Investment Calculator</b>
            </div>
            <dl style="color: white;">
              <dt>Inputs:</dt>
              <dd>
                Provide the details for base performance, and add management of 10% if necessary.
                Then provide details about the remaining mortgage balance. Use the figures to determine your exit.
              </dd>
              <br>
              <dt>Investment Pro-Forma:</dt>
              <dd>All the hard work is done for you.<br>Easy, huh?</dd>
            </dl>
          </p>
        </div><!--/.well -->
      </div><!--/span-->

      <div class="span9" id="proforma">
        <div class="row-fluid" id="inputs">
          <div class="span12">
            <div class="widget">
              <header>
                <h3>Inputs:
                  <input type="hidden" id="refresh" value="1">
                </h3>
                <div class="widget_right" style="position: relative; top: 4px;">&nbsp;</div>
                <ul class="toggle_content">                           
                  <li class="arrow"><a href="#">Toggle Content</a></li>
                </ul>
              </header>
              <section class="code_align">
                <dt>Value:</dt>
                <dd>
                  <div>Rental Rate: </div>
                  <input type="text" class="dollar" ng-change="calculate()" ng-model="rental_rate">

                  <div>Operating Expenses: </div>
                  <input type="text" class="dollar" ng-change="calculate()" ng-model="operating_expenses">

                  <div>Payment: </div>
                  <input type="text" class="dollar" ng-change="calculate()" ng-model="debt_service">
                </dd>
                <dd>
                  <div>Mortgage Balance: </div>
                  <input type="text" class="dollar" ng-change="calculate()" ng-model="mortgage_balance">

                  <div>Add mgmt (10%)</div>
                  <input type="checkbox" ng-change="calculate()" ng-model="management">
                </dd>
                <dt>Phase I Assumptions:</dt>
                <dd>
                  <div>Gap Funding Rate: </div>
                  <input type="text" id="gap_points" class="percent" ng-change="calculate()" ng-model="gap_points">
                </dd>
                <dt>Phase II Assumptions:</dt>
                <dd>
                  <div>Market Return: </div>
                  <input type="text" class="percent" ng-change="calculate()" ng-model="market_return">
                </dd>
                <dt>Inputs:</dt>
                <dd>
                  <div>Seller Requirement: </div>
                  <input type="text" class="dollar" ng-change="calculate()" ng-model="seller_min_cashout">
                
                  <div>Closing Costs: </div>
                  <input type="text" class="dollar" ng-change="calculate()" ng-model="closing_costs">

                  <div>Force Compensation: </div>
                  <input type="checkbox" ng-change="calculate()" ng-model="force_equity_compensation" ng-disabled="seller_min_cashout > 0">
                </dd>
              </section>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <header>
                <h3>Investment Pro-Forma: </h3>
                <div class="widget_right" style="position: relative; top: 4px;">
                  <span id="grade" style="position: relative; top: -2px; left: 50; color: white;" class="badge badge-success">Status: GOOD</span>
                  <input type="button" id="print" style="position: relative; top: -4px; left: 50;" value="Print" ng-click="renderPrint()">
                </div>
                <ul class="toggle_content">                  
                  <li class="arrow">
                    <a href="#">Toggle Content</a>
                  </li>
                </ul>
              </header>
              <section class="code_align">
                <div class="section_header">
                  <div class="row-fluid">
                    <div class="span6">
                      <div>
                        <h6>Critical Metrics:</h6>
                        <b>Estimated Share Price:</b>
                        <span class="dollar">{{ share_estimated_value | currency:"$":0 }}</span>
                      </div>
                      <div>
                        <b>Amount to Borrow:</b>
                        <span class="dollar">{{ total_to_borrow | currency:"$":0 }}</span>
                      </div>
                      <div>
                        <b>Performance Margin</b>
                        <span>{{ performance_margin }}%</span>
                      </div>
                      <div>
                        <b>Max Equity:</b>
                        <span class="dollar">{{ max_equity | currency:"$":0 }}</span>
                      </div>
                    </div>
                    <div class="span6">
                      <h6>Profit Projections:</h6>
                    <div>
                      <b>Corporate Profit:</b>
                      <span class="dollar">{{ corp_shares_value | currency:"$":0 }} ({{ corp_effective_percent }}%) + {{ corp_shares_cf | currency:"$":0 }}/mo.</span>
                    </div>
                    <div>
                      <b>Owner Profit:</b>
                      <span class="dollar">{{ owner_shares_value | currency:"$":0 }} ({{ owner_effective_percent }}%) + {{ owner_shares_cf | currency:"$":0 }}/mo.</span>
                    </div>
                    <div>
                      <b>Lender Take</b>
                      <span class="dollar">{{ total_to_borrow | currency:"$":0 }} ({{ lender_effective_percent }}%)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span3 alert alert-success" ng-class="exit_method == 'sm-fe-ccf' ? 'exit-active' : 'exit-inactive'">
                  <strong>Seller Amount</strong>
                </div>
                <div class="span3 alert alert-success" ng-class="exit_method == 'fe-fcf' ? 'exit-active' : 'exit-inactive'">
                  <strong>All Maxed</strong>
                </div>
                <div class="span3 alert alert-warn" ng-class="exit_method == 'ce-fcf' ? 'exit-active' : 'exit-inactive'">
                  <strong>Equity Compensated</strong>
                </div>
                <div class="span3 alert alert-warn" ng-class="exit_method == 'fe-ccf' ? 'exit-active' : 'exit-inactive'">
                  <strong>Cashflow Compensated</strong>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span5">                        
                           <h4>Phase I</h4>
                           <dl class="dl-horizontal">
                            <dt class="minor">Rental Rate</dt>
                              <dd>
                                 <span id="rental_rate" class="my">
                                    <span class="label">{{ rental_rate | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ rental_rate_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt class="minor">Operating Expenses</dt>
                              <dd>
                                 <span id="monthly_expenses" class="my">
                                    <span class="label">{{ operating_expenses | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ operating_expenses_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt class="minor">Management</dt>
                              <dd>
                                 <span id="management" class="my">
                                    <span class="label">{{ mt_management | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ mt_management_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt>Total Expenses</dt>
                              <dd>
                                 <span id="total_expenses" class="my">
                                    <span class="label">{{ total_expenses | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ total_expenses_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>
                                 
                              <dt class="minor">NOI</dt>
                              <dd>
                                 <span id="noi" class="my">
                                    <span class="label">{{ noi | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ noi_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt>Net Cash Flow</dt>
                              <dd>
                                 <span id="ncf" class="my">
                                    <span class="label">{{ ncf | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ ncf_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt class="minor">Cap Rate</dt>
                              <dd>
                                <span id="ncf" class="my">
                                    <span id="cap_rate" class="label">{{ cap_rate }}%</span>
                                    <span>(Target: <b>{{ cap_target }}</b>)</span>
                                 </span>
                              </dd>

                              <dt>&nbsp;</dt>
                              <dd>&nbsp;</dd>

                              <dt>Target Value</dt>
                              <dd>
                                 <span id="max_shares_value" class="dollar">{{ max_shares_value | currency:"$":0 }}&nbsp;</span>
                              </dd>

                              <dt>&nbsp;</dt>
                              <dd>&nbsp;</dd>

                              <dt class="minor">Mortgage Balance</dt>
                              <dd>
                                 <span id="mortgage_balance" class="dollar">{{ mortgage_balance | currency:"$":0 }}&nbsp;</span>
                              </dd>

                              <dt class="minor">Acquisition Fee</dt>
                              <dd>
                                 <span id="corp_margin" class="dollar">{{ corp_margin | currency:"$":0 }}&nbsp;({{ company_margin_perc }})%</span>
                              </dd>
                              
                              <dt class="minor">Gap Funding Cost</dt>
                              <dd>
                                 <span id="gap_funding_cost" class="dollar">{{ gap_costs | currency:"$":0 }}&nbsp;({{ effective_gap_points * 100 }})%</span>
                              </dd>

                              <dt class="minor">Closing Costs</dt>
                              <dd>
                                 <span id="closing_costs" class="dollar">{{ closing_costs | currency:"$":0 }}&nbsp;</span>
                              </dd>

                              <dt class="minor">-------</dt>
                              <dd>-------</dd>

                              <dt>Total to Borrow</dt>
                              <dd>
                                 {{ total_to_borrow | currency:"$":0 }}
                              </dd>
                            </dl>
                        </div>
                        <div class="span7">
                           <h4>Phase II</h4>
                           <dl class="dl-horizontal">
                              

                              <dt>Total Shares</dt>
                              <dd>
                                <span id="corp_shares" class="label">{{ max_shares | currency:"":0 }}</span> ({{ max_shares_value | currency:"$":0 }})
                              </dd>

                              <dt class="minor">&nbsp;</dt>
                              <dd>
                                 <span id="max_shares_cf" class="my">
                                    <span class="label">{{ max_shares_cf | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ max_shares_cf_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>
                              
                              <dt>&nbsp;</dt>
                              <dd>&nbsp;</dd>

                              <dt>Owner Shares</dt>
                              <dd>
                                <span id="owner_shares" class="label">{{ owner_shares | currency:"":0 }}</span> ({{ owner_shares_value | currency:"$":0 }})
                              </dd>

                              <dt class="minor">&nbsp;</dt>
                              <dd>
                                 <span id="owner_shares_cf" class="my">
                                    <span class="label">{{ owner_shares_cf | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ owner_shares_cf_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt class="minor">Difference</dt>
                              <dd>
                                 <span id="corp_shares_cf" class="my">
                                    <span id="ncf_diff" class="label">{{ ncf_diff | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ ncf_diff_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>

                              <dt class="minor">Years of CF</dt>
                              <dd>
                                <span id="ncf_years" class="label">{{ ncf_years | currency:"":2 }}&nbsp;</span>
                              </dd>

                              <dt>&nbsp;</dt>
                              <dd>&nbsp;</dd>

                              <dt>Lender Shares</dt>
                              <dd>
                                <span id="lender_shares" class="label">{{ lender_shares | currency:"":0 }}</span> ({{ lender_shares_value | currency:"$":0 }})
                              </dd>

                              <dt class="minor">&nbsp;</dt>
                              <dd>
                                 <span id="lender_shares_cf" class="my">
                                    <span class="label">{{ lender_shares_cf | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ lender_shares_cf_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>
                              
                              <dt>&nbsp;</dt>
                              <dd>&nbsp;</dd>

                              <dt>Corporate Shares</dt>
                              <dd>
                                <span id="corp_shares" class="label">{{ corp_shares | currency:"":0 }}</span> ({{ corp_shares_value | currency:"$":0 }})
                              </dd>

                              <dt class="minor">&nbsp;</dt>
                              <dd>
                                 <span id="corp_shares_cf" class="my">
                                    <span class="label">{{ corp_shares_cf | currency:"$":0 }}</span>
                                    <span class="label label-inverse">{{ corp_shares_cf_year | currency:"$":0 }}</span>
                                 </span>
                              </dd>
                           </dl>
                        
                     </div>
                  </div>
               </section>
            </div>
         </div>
      </div>

      </div><!--/.fluid-container-->
      <!-- ===================== JS ===================== -->
      <script src="js/libs/jquery-1.7.2.min.js"></script>    
      <script src="js/libs/bootstrap.min.js"></script>   
      <script src="js/libs/ios-orientationchange-fix.js"></script>          
      <script src="js/libs/jquery-ui-1.8.20.custom.min.js"></script>
      <script src="js/plugins/widgets/jquery.sparkline.min.js"></script>
      <script src="js/common.js"></script>  

      <!-- Site specific --> 
      <script src="js/plugins/formselements/chosen.jquery.min.js"></script> 
      <script src="js/plugins/formselements/scrollability.min.js"></script> 
      <script src="js/plugins/formselements/jquery.dropkick-1.0.0.js"></script> 

      <!-- AngularJS for ...angularity -->
      <script src="js/angular.min.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/angularInvestCtrl.js"></script>

      <script src="js/script.js"></script>
      <script src="js/specific/sparks.js"></script>
      <script src="js/jquery.autocomplete.js"></script>
      <script type="text/javascript">

        $('document').ready(function() {
          setTimeout(function() {
            if (typeof $.QueryString['type'] == "string") {
              autoFillFromURL();
            }
          }, 1000);
        });

      </script>
   </body>
</html>
